<footer class="sng-footer " style="background-image: url(assets/images/footer-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="footer-title">About Us</h3>
                <p class="mr-3">Neha Sharma,
                    Shraddha Bornare,
                    Akshada Satalkar students at Savitribai Phule Pune University.
                    <br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i><a href="#"> SND COE
                        RC, Babhulgaon,
                        Yeola, Nashik, India.
                        423401</a>
                    <br>
                    <i class="fa fa-phone"></i><a href="callto:9011816257"> 9011816257</a> /
                    <a href="callto:7218817742">7218817742</a>
                </p>
            </div>
            <div class="col-md-3 ">
                <div class="ml-5">
                    <h3 class="footer-title">Official Link</h3>
                    <ul>
                        <li><a href="https://www.mahahsscboard.in/" target="blank">Maharastra Board</a></li><br>
                        <li><a href="https://jeemain.nta.nic.in/" target="blank">JEE
                                Main</a></li><br>
                        <li><a href="https://cetcell.mahacet.org/" target="blank">MHT-CET</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="footer-title ">External References</h3>
                <ul>
                    <li><a href="https://www.careers360.com/compare-colleges" target="blank">Compare
                            colleges</a>
                    </li>
                    <li><a href="https://engineering.careers360.com/jee-main-rank-predictor?icn=jee-main-rp-landing-page&ici=prediction-section_c360-home"
                            target="blank">Jee Rank Predictor</a></li>
                    <li><a href="https://www.careers360.com/colleges/reviews?icn=college-reviews-page_landing-page&ici=other-products-section_c360-home"
                            target="blank">College Reviews</a></li>
                    <li><a href="https://www.careers360.com/application-forms/colleges?icn=admission-open_landing-page&ici=other-products-section_c360-home"
                            target="blank">College Application</a></li>
                    <li><a href="https://engineering.careers360.com/colleges/ranking" target="blank">Top
                            Engineering
                            Colleges in India</a></li>

                </ul>
            </div>
            <div class="col-md-3 com-info ml-10">
                <h3 class="footer-title">Newsletter</h3>
                <div class="emaillist">
                    <form action="#" method="post" class="es_subscription_form es_shortcode_form"
                        id="es_subscription_form_624a7e94c21f0" data-source="ig-es">
                        <div class="es_caption">subscription</div>
                        <div class="es-field-wrap"><label><input
                                    class="es_required_field es_txt_email ig_es_form_field_email" type="email"
                                    name="email" value="" placeholder="Enter Your Mail" required="required" /></label>
                        </div>

                        <input type="submit" name="submit"
                            class="es_subscription_form_submit es_submit_button es_textbox_button"
                            id="es_subscription_form_submit_624a7e94c21f0" value="Subscribe" />

                    </form>
                    <span class="es_subscription_message" id="es_subscription_message_624a7e94c21f0"></span>
                </div>
                <ul class="contact-info">
                    <li><a href="mailto:crs@gmail.com"><i class="fa fa-envelope-o"></i>
                            <span> crs@gmail.com </span></a></li><br>
                    <li><a href="callto:9011816257"><i class="fa fa-phone"></i>
                            9011816257</a> / <a href="callto:7218817742"> 7218817742</a>
                    </li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> SND COE RC, Babhulgaon,
                            Yeola, Nashik, India
                            423401</a></li>
                </ul>
                <br>

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="design-by HitWeb Team">
                        <p>Design by:<a href="#" target="_blank" rel="noopener">
                                Neha Sharma,
                                Akshada Satalkar,
                                Shraddha Bornare.&nbsp;</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>