<div class="container-fluid " style="border-radius: 12px;">
    <ng-image-slider [images]="imgCollection" #nav class="ng-image-slider img" animation-speed="0.3s"
        [autoSlide]="3" slideImage="1" font-size="30px" [imagePopup]="true" [infinite]="true">
    </ng-image-slider>
</div>
<section class="company-feature sec-pad container-fluid">

    <div class="col-md-6" data-aos="fade-right">
        <img src="../../../assets/images/engg.jpg" class="img-fluid"
            style="border-radius: 12px; width: 1000px; height: 380px;">
    </div>
    
    <div class="col-md-6" data-aos="fade-left">
        <div class="row">
            <div class="col-md-6">
                <div class="feature-box mb-5">
                    <div class="icon"><i class="fa fa-gears" aria-hidden="true"></i></div>
                    <h4>Diploma</h4>
                    <p>Diploma Course are short-term courses that are of 1-3
                        year duration and can be pursued after
                        completion of Classes 10 and 12. The admission to diploma courses is done either through
                        entrance exam or direct admission.</p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="feature-box active">
                    <div class="icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                    <h4>Engineering</h4>
                    <p>Candidates who have qualified in the MHT CET or JEE Main are eligible for the Maharashtra B.Tech
                        admission 2022 subject to fulfilling the
                        MHT CET eligibility criteria.
                    </p>
                </div>

            </div>
        </div>
    </div>


</section>
<section class="company-feature sec-pad container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="section-edugate">
                    <h3>OUR Vision</h3>
                    <p>Since foundation, HitWeb aim and mission have been<b> “Ensuring the success of your businesses
                            by providing you the highly optimize IT solution as well as improving the quality of work
                            life and environment within our organization.”</b><br />
                        <a title="HitWeb">
                            HitWeb Solutions</a> have been established with the
                        aim of providing best solution to our clients with our high IT skills and employment
                        opportunities in India. Our aim is not only to grow as one of the best
                        IT solution provider but also contribute in country's social development. We are continuously
                        expanding our array of services and technology portfolio to enhance your business to compete the
                        present era. We at HitWeb not only focus on the growth of our company but also focus on the
                        continuous growth of our employees as “It is our values which will reflect in every sphere of
                        our work and life.” .
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="./../../../assets/images/about1.jpg" style="border-radius: 13px; margin-bottom: 10px;" class="w-100">
            </div>
        </div>
    </div>
</section>