<div class="gradient-background">
    <div class="FORM-box">
        <h2>Register</h2>
        <form>
            <div class="user-box" style="float: left;">
                <input type="text" >
                <label>First Name</label>
            </div>
            <div class="user-box" style="float: right;">
                <input type="text" >
                <label > Last Name</label>
            </div>
            <div class="user-box"style="float: left;">
                <input type="number" >                
                <label for="" > Mobile No.</label>
            </div>
            <div class="user-box"style="float: right;">
                <input type="number" >
                <label>Alternate Mobile No.</label>
            </div>
            <div class="user-box">
                <input type="text">
                <label style="margin-top: 160px;">Address</label>
            </div>
            <div class="user-box" style="float: left;">
                <input type="number">
                <label>HSC Percentage</label>
            </div>
            <div class="user-box" style="float: right;">
                <input type="number">
                <label>MHTCET Score</label>
            </div>
            <div class="user-box">
                <input type="text">
                <label style="margin-top: 80px;">College Name</label>
            </div>
            <div class="user-box">
                <input type="date">
                <label>DOB: </label>
            </div>
        </form>
    </div>
</div>